.upload-container {
    margin: auto;
    margin: 5px auto;
    width: 160px;
    height: 35px;

    color: white;
    background-color: #ff0000;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    display: none;
}

.selector-container {
    margin: auto;
    width: fit-content;
    height: 30px;
}

.power-station-select {
    float: left;
    margin-right: 4px;
}

.date-select {
    float: right;
    margin-left: 4px;
}

.table-title {
    margin: 0 15px;
}

.table-container {
    display: flex;
    margin: 5px 15px;
}

.column {
    border: 1px;
    border-style: solid;
}

.cell {
    border-top: 1px;
    border-top-style: solid;
    padding: 2px;
    height: 18px;
    width: 150px;
}

.period {
    width: 90px;
}

.noChange {
    background-color: rgb(236, 192, 158);
}