.table-container {
    display: flex;
}

.column {
    border: 1px;
    border-style: solid;
}

.cell {
    border-top: 1px;
    border-top-style: solid;
    padding: 2px;
    height: 18px;
    width: 150px;
}

input[type="file"] {
    display: none;
}

.upload-label {
    color: white;
    height: 80px;
    width: 250px;
    background-color: #ff0000;

    margin: auto;
    padding: 15px;
    border-radius: 10px;

    cursor: pointer;
}

.noChange {
    background-color: rgb(236, 192, 158);
}
